<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <!--Dashes-->
        <dict>
            <key>phrase</key>
            <string>—</string>
            <key>shortcut</key>
            <string>:em:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>–</string>
            <key>shortcut</key>
            <string>:en:</string>
        </dict>
        <!--Maths-->
        <dict>
            <key>phrase</key>
            <string>≠</string>
            <key>shortcut</key>
            <string>:unequal:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>−</string>
            <key>shortcut</key>
            <string>:minus:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>×</string>
            <key>shortcut</key>
            <string>:multiply:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>÷</string>
            <key>shortcut</key>
            <string>:divide:</string>
        </dict>
        <!--Arrows-->
        <dict>
            <key>phrase</key>
            <string>▲</string>
            <key>shortcut</key>
            <string>:ar-f-up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>▼</string>
            <key>shortcut</key>
            <string>:ar-f-dn:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◀</string>
            <key>shortcut</key>
            <string>:ar-f-l:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>▶</string>
            <key>shortcut</key>
            <string>:ar-f-r:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↑</string>
            <key>shortcut</key>
            <string>:ar-up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↓</string>
            <key>shortcut</key>
            <string>:ar-dn:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>←</string>
            <key>shortcut</key>
            <string>:ar-l:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>→</string>
            <key>shortcut</key>
            <string>:ar-r:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↖</string>
            <key>shortcut</key>
            <string>:ar-nw:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↗</string>
            <key>shortcut</key>
            <string>:ar-ne:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↘</string>
            <key>shortcut</key>
            <string>:ar-se:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↙</string>
            <key>shortcut</key>
            <string>:ar-sw:</string>
        </dict>
        <!--Misc-->
        <dict>
            <key>phrase</key>
            <string>™</string>
            <key>shortcut</key>
            <string>:tm:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>₹</string>
            <key>shortcut</key>
            <string>:rupee:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>©</string>
            <key>shortcut</key>
            <string>:copyright:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>■</string>
            <key>shortcut</key>
            <string>:square:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>♥</string>
            <key>shortcut</key>
            <string>:heart:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◆</string>
            <key>shortcut</key>
            <string>:diamond:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◐</string>
            <key>shortcut</key>
            <string>:hcircle-l:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◑</string>
            <key>shortcut</key>
            <string>:hcircle-r:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◓</string>
            <key>shortcut</key>
            <string>:hcircle-up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◒</string>
            <key>shortcut</key>
            <string>:hcircle-dn:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⌘</string>
            <key>shortcut</key>
            <string>:cmd:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⌥</string>
            <key>shortcut</key>
            <string>:option:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⇧</string>
            <key>shortcut</key>
            <string>:shift:</string>
        </dict>
    </array>
</plist>